h1,
h2,
h3,
h4,
h5 {
    font-family: 'aguda_lightregular';
    color: #ffffff;
}
h6{
        font-family: 'aguda_boldregular';

}
h3{
    margin-top: 10px;
}
body {
    padding-top: 100px;
    background-color: #0b2747;
    background: url(http://planitup.github.io/images/bg.jpg) repeat center center fixed;
    font-family: 'Open Sans', sans-serif;
}
.navbar-nav >li >a{
    font-family: 'aguda_boldregular', sans-serif;
    font-size: 20px;
/*    color: #333 !important;*/
}
.navbar-nav li:hover {
    background-color: #ee543b;
    color: #fff !important;
}
.navbar-nav li:hover a{
    color: #fff !important;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
    color: #333 !important;
}
.navbar-header {
    border-width: 0px;
}
.navbar-toggle {
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
    outline-color: #0b2747;
}
.aside-header{
    background: #0b2747 !important;
}
.navbar-toggle:hover, .navbar-toggle:focus{
    background-color: #0b2747 !important;
}
.navbar-inverse {
    background-color: #ffffff;
}
.navbar-inverse .navbar-collapse{
    border-width: 0px !important;
}
.navbar-nav{
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar{
    border:0px;
}
.icon-bar {
    background-color: #0b2747 !important;
}
.navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
    background-color: #ffffff !important;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff !important;
    background-color: #017e5e;
}
.row-fluid {
    background-color: #ffffff;
}
.project {
    background-color: #ee543b;
}
.project > a:hover > .project-header {
    background-color: #ee543b;
}
.project > a > .project-details {
    color: #0b2747;
}
.project a {
    text-decoration: none;
}
.project-header {
    background-color: #017e5e;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}
.project-details {
    background-color: #ffffff;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.green {
    color: #017e5e;
}
.btn-primary{
    background-color: #017e5e;
    border-width: 0px;
}
.btn-primary:hover{
    background-color:  #ee543b;
    border-width: 0px;
}
.btn-primary[disabled]{
    background-color:  #017e5e;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.chat-user:hover{
    background-color: #eee;
}

.aside-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.chat-box{
	position:fixed;
/*	width:50px;*/
	top:92%;
	right:0%;
}

.todo:hover{
    background-color: #ee543b !important;
}
.todo:hover > h3, .todo:hover small {
    color: #fff !important;
}

.ng-invalid.ng-dirty {
    border-color: #F07070;
}
.ng-valid.ng-dirty {
    border-color: #0b2747;
}

@media(min-width:720px){

.checkbox-col {
    width: 4%;
}
}