h1, h2, h3, h4, h5, h6{
    font-family: 'aguda_boldregular';
}
.navbar-nav >li{
    font-family: 'aguda_lightregular', sans-serif;
}
.navbar-nav >li{
    font-family: 'aguda_lightregular', sans-serif;
}