h1,
h2,
h3,
h4,
h5 {
    font-family: 'aguda_lightregular';
    color: #ffffff;
}
h6{
        font-family: 'aguda_boldregular';

}
h3{
    margin-top: 10px;
}
body {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #0b2747;
    background: url(http://planitup.github.io/images/bg.jpg) repeat center center fixed;
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    background-color: #ffffff;
}
.navbar-nav >li >a{
    font-family: 'aguda_boldregular', sans-serif;
    font-size: 20px;
    color: #0b2747 !important;
}
.navbar-nav >li>a:hover, .nav>li>a:focus, .nav>li>a:active {
    background-color: #ee543b !important;
    color: #fff !important;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #fff !important;
    background-color: #017e5e;
}
/*.navbar-nav li:hover a{
    color: #fff !important;
}*/
/*.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
    color: #333 !important;
}*/
.navbar-header {
    border-width: 0px;
}
.navbar .navbar-collapse{
    border-width: 0px !important;
}
.navbar{
    border:0px;
}
.navbar-toggle {
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
    outline-color: #0b2747;
}
.navbar-toggle:hover, .navbar-toggle:focus{
    background-color: #0b2747 !important;
}
.aside-header{
    background: #0b2747 !important;
}


.icon-bar {
    background-color: #0b2747 !important;
}
.navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
    background-color: #ffffff !important;
}

.row-fluid {
    background-color: #ffffff;
}

.project-header {
    background-color: #017e5e;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.project-details {
    background-color: #ffffff;
    padding: 15px;
}

.project > a:hover > .project-header {
    background-color: #ee543b;
}
.project > a > .project-details {
    color: #0b2747;
}
.project a {
    text-decoration: none;
}

.green {
    color: #017e5e;
}
.blue {
    color: #0b2747;
}
.btn{
    border-radius: 0px;
}
.btn-primary{
    background-color: #017e5e;
    border-width: 0px;
}
.btn-primary:hover{
    background-color:  #ee543b !important;
    border-width: 0px;
}
.btn-primary:active{
    background-color:  #017e5e;
    border-width: 0px;
}
.btn-primary:focus{
    background-color:  #017e5e;
    border-width: 0px;
}
.btn-primary[disabled]{
    background-color:  #017e5e;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.chat-user:hover{
    background-color: #eee;
}

.aside-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.chat-box{
	position:fixed;
/*	width:50px;*/
	top:92%;
	right:0%;
}

.impact .glyphicon{
    font-size: 20px;
}
.todo .todo-details{
    background-color: #fff;
    color: #0b2747;
}
a:hover > .row-md-height > .impact {
    background-color: #ee543b !important;
}
.todo .todo-details h3, .todo todo-details h3>small {
    color: #0b2747;
}
.todo a {
    text-decoration: none;
}
.well{
    border-radius: 0px;
}
.text-link:hover{
    color: #0b2747;
}

.ng-invalid.ng-dirty {
    border-color: #F07070;
}
.ng-valid.ng-dirty {
    border-color: #0b2747;
}
.collapse.am-collapse {
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  overflow: hidden;
  &.in-remove {
    animation-name: collapse;
    display: block;
  }
  &.in-add {
    animation-name: expand;
  }
}

/*Same Height Columns*/
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}


@media(min-width:720px){

.checkbox-col {
    width: 4%;
}
}